%{ for tailnet in tailnets ~}
%{ if tailnet.use_k8s_secret ~}
---
apiVersion: v1
kind: Secret
metadata:
  name: tailscale-auth-${tailnet.tailnet_name}
type: Opaque
data:
  TS_AUTHKEY: ${base64encode(tailnet.tailnet_key)}
%{ endif ~}
%{ endfor ~}
